logging:
  level:
    org.springframework: ERROR
    com.scanner.cryptoserver: DEBUG
  pattern:
    console: "%d %-5level %logger : %msg%n"
    file: "%d %-5level [%thread] %logger : %msg%n"
  file:
    name: logs/application-logging.log

exchanges:
  binanceusa:
    info: https://api.binance.us/api/v3/exchangeInfo
    klines: https://api.binance.us/api/v3/klines
    ticker: https://api.binance.us/api/v3/ticker
    trade: https://www.binance.us/en/trade/
  binance:
    info: https://api.binance.com/api/v3/exchangeInfo
    klines: https://api.binance.com/api/v3/klines
    ticker: https://api.binance.com/api/v3/ticker
    trade: https://www.binance.com/en/trade/

spring:
  profiles:
    active: dev
  main:
    banner-mode: off